.hero {
  min-height: 500px;
  display: flex;
  align-items: center;
  padding: 0px 170px;
  background: #f3f5f7;
}
.hero-content {
  max-width: 600px;
}
.hero-small-text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}
.hero h1 {
  font-size: 64px;
  line-height: 1.05;
  margin: 15px 0;
}
.hero p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}
.explore-btn {
  margin-top: 20px;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  background: #111;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/* =========================
   RIGHT SIDE CAR IMAGE
========================= */
.hero-image {
  width: 48%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Car image */
.hero-image img {
  width: 140%;
  max-width: 750px;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 200;
  filter: drop-shadow(
    0 20px 20px rgba(0, 0, 0, 0.15)
  );
  transition: transform 0.3s ease;
}
.hero-image img:hover {
  transform: scale(1.03);
}
/* Popular Cars */
.popular-cars {
    padding: 90px 60px;
  background: #ffffff;
}
.popular-cars h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
.car-container {
  display: grid;
  grid-template-columns:
    repeat(3, minmax(0, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 40px auto 0;
}
.car-image {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  border-radius: 12px;
  font-size: 70px;
}
.car-card h3 {
  margin-top: 20px;
}
.car-card p {
  color: #555;
}
@media (max-width: 900px) {
  .car-container {
    grid-template-columns:
      repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .car-container {
    grid-template-columns: 1fr;
  }
}